
@font-face {
    font-family: "inter-medium";
    src: url(../assets/Avenir_DesktopFonts/avenir_otf/AvenirLTStd-Medium.otf);
  }
  
  :root {
      --white-principal: #FFFFFF;
      --gray-secundary: #F6F6F6;
      --text-blue: #012E5C;
      --title-aqua: #51C0F4;
      --form-bege: #F5F5F5;
      --btn-black: #000000;
  }
  
  .bg-grey {
    background-color: var(--gray-secundary);
  }
  
  body {
      background-color: var(--white-principal);
      margin: 0;
      font-family: 'inter-medium';
  }
  
  /* Navbar */
  
  .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      background-color: var(--white-principal);
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .navbar .nav-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }
  
  .navbar .left-content {
      display: flex;
      align-items: center;
      color: var(--text-blue);
      max-width: 330px;
  }
  
  .navbar a {
      width: 104px;
      height: 104px;
      margin-right: 20px;
  }
  
  .navbar p {
      font-size: 18px;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0.1em;
      text-align: left;
      margin: 0;
  }

  .navbar p span {
    color: var(--text-blue);
    font-weight: bold;
}


  
  .navbar ul {
      list-style-type: none;
      text-transform: uppercase;
      display: flex;
      margin-right: 20px;

  }
  
  .navbar ul li {
      margin: 0 10px;
      text-wrap: nowrap;
  }
  
  .navbar ul li a {
      color: var(--text-blue);
      font-size: 14px;
      line-height: 22px;
      letter-spacing: 0.1em;
      text-align: center;
      text-decoration: none;
      position: relative;
      font-weight: bold;
  }
  
  
  .navbar ul li a:hover { 
    padding-bottom: .25rem;
    border-bottom: 6px solid var(--title-aqua);
  }
  
  .navbar ul li a.active { 
    padding-bottom: .25rem;
    border-bottom: 6px solid var(--title-aqua);
  }
  
  /*Section 01 */
  .section-01 {
      position: relative;
      height: 100vh;

  }
  
  .section-01 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.85;
    filter: brightness(0.5);
  }
  
  .section-01 > div {
      position: relative;
      z-index: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 100%;
  }
  
  .section-01 h1 {
      font-size: 50px;
      font-weight: 400;
      line-height: 61px;
      letter-spacing: 0.03rem;
      margin-bottom: 0px;
      color: var(--white-principal);
      font-weight: bold;
  }
  
  .section-01 .light-button {
    color: var(--white-principal);
  }
  
  .section-01 .light-button::after { 
    content: url(../assets/img/Pfad\ 200.svg);
    padding-left: 1rem;
  }
  
  
  .section-01 p {
      font-size: 36px;
      letter-spacing: 4.5%;
      color: var(--white-principal);
      margin-top: 0.5px;
  }
  
  .light-button {
    padding: 1rem 2rem;
    background-color: #f6f6f633;
    color: var(--text-blue);
    border: none;
    font-size: 20px;
    line-height: 24.2px;
    letter-spacing: 3%;
    text-transform: uppercase;
    margin-top: 16px;
    border-radius: 7px;
    cursor: pointer;
    border: 1px solid var(--title-aqua)
  }
  
  .light-button::after { 
    content: url(../assets/img/Pfad\ 203.svg);
    padding-left: 1rem;
  }
  
  /* Section 02 */
  .section-02 {
      text-align: center;
  }
  
  .title-light-blue {
      color: var(--title-aqua) !important;
      font-size: 22px;
      line-height: 26.63px;
      letter-spacing: 10%;
      text-transform: uppercase;
  }
  
  .title-bold {
      color: var(--text-blue);
      font-size: 50px;
      line-height: 60px;
      letter-spacing: 3%;
      margin: 0px;
  }
  
  .description {
      color: var(--text-blue);
      font-size: 23px;
      line-height: 36px;
      letter-spacing: 4%;
  }
  
  
  .circle-img {
      width: 492px;
      height: 492px;
      border-radius: 50%;
      overflow: hidden;
      position: relative;
      object-fit: cover;
  }
  
  
  /* Section 04 */
  
  .section-04 {
      text-align: center;
      align-items: center; 
    }
    
  
    .contact span {
      font-weight: bold;
    }
    
    .team-members {
      display: flex;
      justify-content: space-around;
    }
    
    .team-member {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
    }
    
    .team-member img {
      width: 350px;
      height: 353px;
      border-radius: 07px;
    }
    .team-member-info {
      width: 100%;
      text-align: left;
      color: var(--text-blue);
    }
  
    .team-member-info p {
      margin-top: .5rem;
      margin-bottom: 0rem;
    }
  
    .team-member-info .name {
      font-weight: bold;
      font-size: 32px;
    }
    
    .team-member-info .role {
      font-size: 20px;
      margin-bottom: 3rem;
    }
    
    .team-member-info .contact {
      font-size: 20px;
      margin-bottom: .5rem;
  
    
    }
    
    .team-member-info .email {
      color: var(--title-aqua); 
      font-size: 16px;
      text-decoration: none;
      border-bottom: 1px solid var(--title-aqua);
    }
  
    .team-member-info .email::after { 
      content: url(../assets/img/Pfad\ 200aqua.svg);
      margin-left: 5px;
    }
  
    
  
  .section-06 {
    text-align: center;
    padding: 50.5px;
    background-color: var(--white-principal);
  }
  
  
    .section-06 .contact-form {
      margin-top: 40px;
    }
    
    .section-06 .form-group {
      margin-bottom: 20px;
    }
    
  
  
  /* Footer*/
  .footer {
    background-color: var(--gray-secundary);
    color: var(--text-blue);
    padding: 20px 0; /* Espaçamento interno superior e inferior */
  }
  
  .foot-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .left-content {
    text-align: left;
  }
  
  .title-light-blue {
    color: var(--text-blue);
    font-size: 20px ; 
  }
  
  .bold {
    color: var(--text-blue);
    font-weight: bold;
  }
  
  
  .right-content {
    display: flex;
    align-items:center;
  }
  
  .text-footer p {
    display: inline;
    margin: 2px 20px; 
  }
  
  .img-footer img {
    width: 20px; 
    margin-right: 20px;
    vertical-align: middle; 
    align-items: center;
  }
  
